*{
    margin: 0;
    padding: 0;

}

.banner{
    background-color: #00bfff;
    height: 100vh;
    min-height: 600px;
    background-image: url(https://i.ibb.co/HNvHSyV/image-header.jpg);
    background-position: center bottom ;
    background-size: cover;
    display:flex;
    flex-direction: column;
}

.header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.menu{
    display: flex;
    font-size: 20px;
    color: white;
    align-items: center;
}

.menu span{
    margin-right: 30px;
    cursor: pointer;
}

.contact{
    background-color: white;
    color: black;
    padding: 8px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;

}
.contact:hover{
    background-color: antiquewhite;

}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    flex-grow: 0.3;
    color : white;
    font-weight: bold;
}

.arrow{
    margin-top: 20px;
    height: 70px;
}

.section1, .section2, .section3{
    display: flex;
    width: 100%;
    height: 350px;

}

.section1 img, .section2 img, .section3 img{
    width:100%;
    height: 100%;

}

.section1 .left, .section2 .right2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 .text-container, .section2 .text-container{
    width: 70%;
    height: 50%;
}

.left h1, .right2 h1{
    font-size: 40px;
    margin-bottom: 20px;  
}

.left p, .right2 p{
    color: #848391;
    line-height: 1.5;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

.left .button, .right2 .button{
    display: flex;
    align-items: left;
}

.left img, .right2 img{
    width: 150px;
}
.left,.right, .left2, .right2{
    flex:1;
}


.graphic{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.photo{
    background-image: url(./images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}
.client-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.client-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffbf8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    
}
.testimonials h1{
    color: #A0A1A2;
    font-size: 20px;
    margin-bottom: 40px;
}

.clients{
    display: flex;
    justify-content: space-between;
}

.clients .client{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    align-items: center;
}

.clients .client-image{
    margin-bottom: 30px;
}

.client p{
    text-align: center;
    margin-bottom: 30px;
    color: #848391;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
}

.client .details{
    text-align: center; 

}

.client h4{
    color: #A0A1A2;
    margin-top: 8px;
}

.examples{
    display: flex; 
    height: 250px;
 
}
.examples img{
    flex: 0.25;
    width: 100%;
}

.footer{
    background-color: #90D4C5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.footer .logo{
    color: #2D7465;
}

.footer-nav{
    color: #4F9485;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
  
}
.footer-nav span{
    padding: 20px;
}

.footer-nav span:hover{
    color: #2D7465;
}

.footer .social-icons{
    margin-top: 40px;
}

.social-icons img{
    padding: 5px;
}
















